<div class="card" *ngIf="student else !Active?">
    <div class="card-body">
        <form [formGroup]="studentForm">
            <div class="form-group">
                <label for="name">first name</label>
                <input id="name" class="form-control" type="text" formControlName="firstName">
                <ng-container *ngIf="studentForm.controls['firstName'].errors">
                    <div class="alert alert-danger" *ngIf="studentForm.controls['firstName'].errors['required']">
                        required</div>
                    <div class="alert alert-danger" *ngIf="studentForm.controls['firstName'].errors['minlength']">must
                        least 2 chars</div>
                </ng-container>
            </div>

            <div class="form-group">
                <label for="name">last name</label>
                <input id="name" class="form-control" type="text" formControlName="lastName">
                <ng-container *ngIf="studentForm.controls['lastName'].errors">
                    <div class="alert alert-danger" *ngIf="studentForm.controls['lastName'].errors['required']">required
                    </div>
                    <div class="alert alert-danger" *ngIf="studentForm.controls['lastName'].errors['minlength']">must
                        least 2 chars</div>
                </ng-container>
            </div>

            <div class="form-group">
                <label for="address">name</label>
                <input id="address" class="form-control" type="text" formControlName="address">
                <ng-container *ngIf="studentForm.controls['address'].errors">
                    <div class="alert alert-danger" *ngIf="studentForm.controls['address'].errors['required']">required
                    </div>
                </ng-container>
            </div>

            <div class="form-group">
                <label for="phone">name</label>
                <input id="phone" class="form-control" type="text" formControlName="phone">
                <ng-container *ngIf="studentForm.controls['phone'].errors">
                    <div class="alert alert-danger" *ngIf="studentForm.controls['phone'].errors['required']">required
                    </div>
                </ng-container>
            </div>

            <div class="form-group">
                <label for="isActive">Active?</label>
                <br>
                <input type="radio" value="true" name="isActive" formControlName="isActive" />True
                <input type="radio" value="false" name="isActive" formControlName="isActive" />False
            </div>

            <div class="form-group" *ngIf="studentForm.controls['isActive'].value=='false'">
                <label for="lastday">last day:</label>
                <input id="lastDay" class="form-control" type="date" formControlName="lastDay">
            </div>

            <div class="form-group">
                <label for="avgMarks">Average</label>
                <input id="avgMarks" class="form-control" type="date" formControlName="avgMarks">
                <ng-container *nfIf="studentForm.controls['avgMarks'].errors">
                    <div class="alert alert-danger" *ngIf="studentForm.controls['avgMarks'].errors['required']">required
                    </div>
                    <div class="alert alert-danger" *ngIf="studentForm.controls['avgMarks'].errors['max']">max 100</div>
                    <div class="alert alert-danger" *ngIf="studentForm.controls['avgMarks'].errors['min']">min 0</div>
                </ng-container>
            </div>

            <div class="form-group">
                <label for="courseId">Course:</label>
                <input id="courseId" class="form-control" type="date" formControlName="courseId">
                <option *ngFor="let course of courseList" [value]="course.id">{{course.name}}</option>
                <ng-container *nfIf="studentForm.controls['courseId'].errors">
                    <div class="alert alert-danger" *ngIf="studentForm.controls['courseId'].errors['required']">required
                    </div>
                </ng-container>
            </div>

            <div class="form-group">
                <label for="year">Year</label>
                <input type="radio" value="studyYear.First" name="year" formControlName="year" />First
                <input type="radio" value="studyYear.Second" name="year" formControlName="year" />Second
                <input type="radio" value="studyYear.Third" name="year" formControlName="year" />Third
            </div>

            <div [ngSwitch]="studentForm.value['year']">
                <div *ngSwitchCase="'studyYear.First'" style="color: rebeccapurple;">
                    learn 100</div>
                <div *ngSwitchCase="'studyYear.Second'" style="color: rgb(50, 50, 218);">
                    learn 125</div>
                <div *ngSwitchCase="'studyYear.Third'" style="color: rgb(59, 167, 225);">
                    learn 150</div>
                <div *ngSwitchDefault style="color: yellow;">
                dont have studies</div>
            </div>

            <br>
           <!-- מכאן קוד של נחמי -->
           <!-- <div class="aaa"> Total absence days {{this.total()}} </div> -->
           <!-- <div class="asd"> -->
               <!-- <label for="missingFromDate">Date From:</label> -->
               <!-- <input [(ngModel)]="missingFromDate" [ngModelOptions]="{standalone: true}" id="missingFromDate" -->
                   <!-- type="date"> -->
           <!-- </div> -->
           <!-- <div class="asd"> -->
               <!-- <label for="missingDays">Total Days: </label> -->
               <!-- <input [(ngModel)]="missingDays" [ngModelOptions]="{standalone: true}" id="missingDays" type="number"> -->
           <!-- </div> -->
           <!-- {{studentForm.value | json}} -->
           <!-- <br> -->
           <!-- <button class="btn btn-primary" (click)="saveNewStudent()" [disabled]="!studentForm.valid">Save</button> -->
        </form>
    </div>
</div>