
<input type="checkbox" #cbx (change)="showStudentByIsActiv(cbx.checked)"/>show IsAvtive student <br>

<ul class="list-group">
    <li *ngFor="let student of listStudent" class="list-group-item"
        [ngClass]="{'list-group-item-danger' :student.isActive == 'false', 'active':student.avgMarks > 90}">
        <button style="width:100%; padding:0;" class="row" (click)="onFocusStudent(student)">
            <div style="padding: 0px;" class="col-8">
                {{student.id}}:{{student.firstName}} {{student.lastName}}
                {{student.address}} {{student.phone}} total: {{this.total(student)}}
                Active?{{student.isActive}} Average:{{student.avgMarks}} </div>
            <div>
                <button (click)="deleteStudent(student)">Delete Stutent</button>
                <button (click)="showDetails(student)">Show Details</button>
            </div>
        </button>"
    </li>
</ul>
<br>
<button class="btn btn-primary" (click)="showNewStudentDetails()">Add New student</button>
<button class=""btn btn-success" (click)="saveStudentToServer()">Save Student To Server</button>
<br>

<student-details-from [student]="selectedStudent" (onSaveStudent)="saveStudentToList($event)"></student-details-from>
